$desktop: 992px
$padding: 100px

.noscroll
	@media(min-width: $desktop)
		height: 100vh
		overflow: hidden

.app-container 
	padding: $padding

.app-container-content 
	@media(min-width: $desktop)
		padding-left: $padding
		height: 100vh
		overflow: scroll
		padding-bottom: $padding * 3
